.row3 {
	background-color: black;
	color: black;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

body {
	background-color: black;
}
#header-nav {
	background-color: #F7C10F;
	border-radius:  0;
	border: 2px solid black;
	
}

h1 {
	margin: 6px;
	margin-top: 5px;
	 padding: 10px;
	 padding-left: 20px;
	 font-size: 35px;
	color: black;
	font-family: 'Balsamiq Sans', cursive;
	font-weight: 900;
	text-align: center;
}
.body {
	font-size: 25px;
	font-color: #fff;
	font-family: 'Balsamiq Sans', cursive;
	font-weight: 200;
	text-align: center;
}
#bodywriting {
	color:gray;
  font-size:20px;

}




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-family:  'Balsamiq Sans', cursive;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  padding-left: 5px;
  margin-left: 50px;
  margin-right: -30px;
}




.row {
  background-color: black;
  color: black;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}







.box {
	background-color: black;
	color: black;
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
}
body {
	background-color: black

}

.img-about {
	width:300px;
}

.img-about2 {
	width:400px;
}

.img-about3 {
	width:350px;
}


* FOOTER */
#footer-id {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #000080;
  border-top: 0;
  font-family: 'Balsamiq Sans', cursive;
  }

.row1 {
  background-color:#f5f5f5;
  color: black;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.write {
	font-family: 'Balsamiq Sans', cursive;
	color: white;
}


* FOOTER */
#footer-id {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #000080;
  border-top: 0;
  font-family: 'Balsamiq Sans', cursive;
}

.text-center{
  font-family: 'Balsamiq Sans', cursive;
}

.container1{
  background-color: #f5f5f5 ;
}

.row9{
  background-color: #f5f5f5;
font-family: 'Balsamiq Sans', cursive;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: black;
  color: gray;
  align-self: center;
}